* 
    box-sizing: border-box
    margin: 0
    
p, h1, h2
    font-family: 'Montserrat', sans-serif

section
    background: #EBEBEB
    height: 90vh
    margin: 5vh 5vw
    display: flex
    justify-content: center
    align-items: center
    position: relative
    h2 
        font-size: 1.5em
        position: absolute
        top: 1em
        left: 1em

h1
    align-self: center
    text-align: center
    font-size: 3em
    margin-top: .75em

.tweenblock, .transformblock
    width: 100px
    height: 100px
    background: blue

.tweenblock2 
    width: 100px
    height: 100px
    background: purple

.transformblock
    width: 100px
    height: 100px
    background: blue

.transformblock2
    width: 100px
    height: 100px
    background: purple
    margin: 0 5%

.transformblock3
    width: 100px
    height: 100px
    background: green

.easeblock
    width: 100px
    height: 100px
    background: green

.easeblock1
    width: 100px
    height: 100px
    background: purple

.easeblock2
    width: 100px
    height: 100px
    background: blue

.easeblock3
    width: 100px
    height: 100px
    background: pink

.easeblock4
    width: 100px
    height: 100px
    background: aqua

.easeblock1, .easeblock3 
    margin: 0 5% 